@font-face {
    font-family:"JosefinSans-Light";
    src: url("fonts/JosefinSans-Light");
}

@font-face {
    font-family:"PlayfairDisplay-Regular.ttf";
    src: url("fonts/PlayfairDisplay-Regular");
}


body{
    background-color: rgb(228, 227, 227);
}
header{
    background-color:white;
    height: 123px;
}

.logo_main{
    margin: 45px;
}

ul{
    list-style-type: none;
    display: flex;
   
}



.logo_type{
    margin-left: 30px;
}
nav{
    background-color: aliceblue;
    height:122px;
   
}

.logo_page{
    margin:28px 65px 95px 60px;
}



#logo_main{
    margin: 250px 0px 124px 0px;
}

.li_menu{
    padding-top: 42px;
    
  
}
#a_menu{
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 22px; 
    font-family: "JosefinSans-Light";
    color:black;

}

#slider{
    background-color: aliceblue;
    margin-top:70px;
    height:440px;
}

.search_input{
    margin: 38px;
    padding-left: 120px;
}

slide{
    background-color: aliceblue;
    height:440px;
}

#logo_in_slider{
    margin: 53px 0px 37px 53px;
}

.title-ifo{
    margin: 0px 0px 37px 53px;
    color: #921026; 
    font-family: 'PlayfairDisplay-Regular';
    font-size:24px;
}
.slide-cotent{
    margin: 0px 0px 37px 53px;
    width:355px;
}

.lide-button-get{
    margin: 0px 0px 37px 53px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 22px; 
    font-family: "JosefinSans-Light";
    color:black;
    border:2px double black; 
    text-align: center;
}